@use "../../../../_colors.scss" as c;

header {
  position: sticky;
  top: 0;
  z-index: 1;

  display: flex;
  align-items: center;

  height: 60px;

  padding: 0 30px;

  background-color: c.$main_global_color;

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 40px;

    border-radius: 5px;
    color: c.$main_global_color;
    background-color: c.$main_light_color;

    &:hover {
      cursor: pointer;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;

    text-decoration: none;
    color: c.$main_light_color;

    margin: 0 auto;

    p {
      font-size: 25px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .icon {
    display: flex;
  }
}

.drop_down_menu {
  position: fixed;
  z-index: 1;

  height: 100lvh;
  width: 100lvw;

  padding: 20px 10lvw;

  background-color: c.$secondary_global_color;

  .user {
    display: flex;
    justify-content: center;

    .logged_in {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;

      padding-bottom: 10px;

      border-bottom: 1px solid c.$main_light_color;

      .username {
        color: c.$main_light_color;
        font-size: 20px;
      }

      .user_avatar {
        margin-left: 15px;
        padding: 5px;

        border-radius: 50px;
        border: 2px solid c.$main_global_color;
        outline: 1px solid c.$main_global_color;
      }

      &:hover {
        cursor: pointer;

        .username{
          text-decoration: underline;
        }

        .user_avatar {
          outline-color: c.$main_light_color;
        }
      }
    }

    .login_button {
      padding: 5px 30px;

      font-size: 25px;

      border-radius: 50px;

      background-color: c.$main_light_color;

      a {
        color: c.$main_global_color;
        text-decoration: none;
      }

      &:hover {
        background-color: c.$main_accent_color;

        a {
          color: c.$main_light_color;
        }
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 30px;

    list-style: none;

    a {
      text-decoration: none;
      color: c.$main_light_color;
      font-size: 30px;

      li {
        padding: 5px 20px;
        border-radius: 10px;
      }

      &:hover {
        color: c.$main_global_color;

        li {
          background-color: c.$main_light_color;
        }
      }
    }
  }
}
