@use "../../../../_colors.scss" as c;

header {
  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 60px;

  padding: 0 30px;
  background-color: c.$main_global_color;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 40px;

    border-radius: 5px;
    color: #000000;
    background-color: #ffffff;

    &:hover {
      cursor: pointer;
    }
  }

  nav {
    height: 100%;

    ul {
      display: flex;
      align-items: center;

      height: 100%;

      list-style: none;

      li {
        display: flex;
        align-items: center;

        height: 100%;

        padding: 0 20px;

        border: solid c.$main_global_color;
        border-width: 3px 0;

        a {
          color: c.$main_light_color;
          text-decoration: none;
        }

        &:hover {
          cursor: pointer;
          border-bottom: 3px solid c.$main_light_color;
        }
      }
    }
  }

  .user {
    .logged_in {
      display: flex;
      align-items: center;

      .user_avatar {
        margin-left: 15px;
        padding: 5px;

        border-radius: 50px;
        border: 2px solid c.$main_global_color;
        outline: 1px solid c.$main_global_color;
      }

      &:hover {
        cursor: pointer;

        .username{
          color: c.$main_light_color;
          text-decoration: underline;
        }

        .user_avatar {
          outline-color: c.$main_light_color;
        }
      }
    }

    .login_button {
      padding: 5px 20px;

      font-size: 14px;

      border-radius: 50px;

      background-color: c.$main_light_color;

      a {
        color: c.$main_global_color;
        text-decoration: none;
      }

      &:hover {
        background-color: c.$main_accent_color;

        a {
          color: c.$main_light_color;
        }
      }
    }
  }
}
