<header>
  <a href="/">
    <div class="logo">
      <lucide-icon name="bike"></lucide-icon>
    </div>
  </a>

  <nav>
    <ul>
      <li>
        <a href="/exercise">Exercises</a>
      </li>
      <li>
        <a href="/training-session">Entraînement</a>
      </li>
      <li>
        <a href="/admin">Admin</a>
      </li>
    </ul>
  </nav>

  <section class="user">
    @if (displayLoggedInUser) {
      <section class="logged_in">
        <p (click)="toggleLoggedIn()" class="username">Jane Doe</p>
        <button (click)="toggleLoggedIn()" class="user_avatar">
          <lucide-icon name="user"></lucide-icon>
        </button>
      </section>
    }
    @else {
      <button class="login_button">
        <a href="/login">Se connecter</a>
      </button>
    }
  </section>
</header>
