<header>
  <div class="menu" (click)="toggleMenu()">
    <lucide-icon name="menu" size="30" class="icon"></lucide-icon>
  </div>

  <a class="logo" href="/">
    <p>FitnessApp</p>
    <lucide-icon name="dumbbell" size="25" class="icon"></lucide-icon>
  </a>
</header>

@if (displayDropDownMenu) {
  <nav class="drop_down_menu">
    <section class="user">
      @if (displayLoggedInUser) {
        <section class="logged_in">
          <p class="username">Jane Doe</p>
          <button class="user_avatar">
            <lucide-icon name="user"></lucide-icon>
          </button>
        </section>
      }
      @else {
        <button class="login_button">
          <a href="/login">Se connecter</a>
        </button>
      }
    </section>

    <ul>
      <a href="/exercise" (click)="toggleMenu()">
        <li>Exercises</li>
      </a>
      <a href="/training-session" (click)="toggleMenu()">
        <li>Entraînement</li>
      </a>
      @if (userIsAdmin) {
        <a href="/admin" (click)="toggleMenu()">
          <li>Admin</li>
        </a>
      }
    </ul>
  </nav>
}
