<section class="main_list">
  <h2>Liste des exercices</h2>

  <article class="search_bar">
    <label for="search">Rechercher :</label>
    <input type="text" name="search" id="search" (input)="search($event)" />
  </article>

  <article class="filters">
    <h3>Filtres</h3>
  </article>

  <section class="exercices">
    @if (displayedExercises.length === 0) {
      <p class="no_exercise_found">Aucun exercice trouvé.</p>
    }
    @else {
      <article>
        <span>Nom</span>
      </article>

      <ul>
        @for (exercise of displayedExercises; track $index) {
          <li>
            <p>{{ exercise.exercise_name }}</p>
          </li>
        }
      </ul>
    }
  </section>
</section>
