@if (exerciseToDeleteId !== "") {
  <app-popup (onClose)="cancelDelete()">
    <div class="delete_popup">
      <h1>Êtes-vous sûr·e de vouloir supprimer "{{ exerciseToDeleteName }}" ?</h1>

      <div>
        <button (click)="confirmDelete()">Supprimer</button>
        <button (click)="cancelDelete()">Annuler</button>
      </div>
    </div>
  </app-popup>
}

<section class="main_list">
  <h2>Liste des exercices</h2>

  <article class="search_bar">
    <label for="search">Rechercher :</label>
    <input type="text" name="search" id="search" (input)="search($event)" />
  </article>

  <section class="exercices">
    @if (displayedExercises.length === 0) {
      <p class="no_exercise_found">Aucun exercice trouvé.</p>
    }
    @else {
      <article>
        <span>Nom</span>
      </article>

      <ul>
        @for (exercise of displayedExercises; track $index) {
          <li>
            <div class="exercise_basic_informations">
              @if (exercise.id === exerciseToUpdateId) {
                <input type="text" [(ngModel)]="exerciseToUpdateName" [ngClass]="updateIsInvalid ? 'invalid' : ''" (input)="updateIsInvalid = false" />
              }
              @else {
                <p>{{ exercise.exercise_name }}</p>
              }

              <div class="actions">
                <button (click)="toggleExercise(exercise.id)">
                  <lucide-icon [name]="displayExercise === exercise.id ? 'chevron-up' : 'chevron-down'" [size]="18"></lucide-icon>
                </button>
                <button (click)="updateExerciseHandler(exercise.id)">
                  <lucide-icon name="pencil" [size]="18"></lucide-icon>
                </button>
                <button (click)="deleteExerciseHandler(exercise.id)">
                  <lucide-icon name="trash-2" [size]="18"></lucide-icon>
                </button>
              </div>
            </div>

            @if (displayExercise === exercise.id) {
              <hr />

              <div class="exercise_details">
                @if (exercise.id === exerciseToUpdateId) {
                  <input type="text" [(ngModel)]="exerciseToUpdateImage" />
                }
                @else if (exercise.image && exercise.image !== "") {
                  <img [src]="exercise.image" />
                }

                <div>
                  <h4>Description :</h4>

                  @if (exercise.id === exerciseToUpdateId) {
                    <textarea rows="4" [maxLength]="1000">{{ exerciseToUpdateDescription }}</textarea>
                  }
                  @else {
                    <p>{{ exercise.description }}</p>
                  }

                  @if (exercise.id === exerciseToUpdateId) {
                    <h4>Modifier les mesures trackables :</h4>
                    <select class="update_measures_select" (change)="addUpdatedMeasures($event)">
                      <option disabled [defaultSelected]="true">Ajouter une mesure</option>

                      @for (measure of availableMeasures; track $index) {
                        <option [value]="measure.id">{{ measure.measure_name }}</option>
                      }
                    </select>

                    <ul class="updated_measures">
                      @for (measure of exerciseToUpdateMeasures; track $index) {
                        <li>
                          <p>{{ measure.measure_name }}</p>
                          <button (click)="removeFromUpdatedMeasures(measure.id)">x</button>
                        </li>
                      }
                    </ul>
                  }
                  @else if (exercise.trackable_measures.length > 0) {
                    <h4>Mesures trackables :</h4>
                    <ul class="trackable_measures">
                      @for (measure of exercise.trackable_measures; track $index) {
                        <li>{{ measure.measure_name }}</li>
                      }
                    </ul>
                  }

                  @if (exerciseToUpdateId === exercise.id) {
                    <button class="confirm_update_button" (click)="confirmUpdate()">
                      Confirmer la modification
                      <lucide-icon class="icon" name="check"></lucide-icon>
                    </button>
                  }
                </div>
              </div>
            }
          </li>
        }
      </ul>
    }
  </section>
</section>
