.main_list {
  padding: 20px 50px;
  background-color: #d6d6d6;

  > article,
  .exercices {
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #b6b6b6;
  }

  .search_bar {
    display: flex;
    align-items: center;
    gap: 20px;

    label {
      font-size: 18px;
    }

    input {
      border: none;

      width: 90%;

      padding: 5px 10px;

      border-radius: 5px;
      border: 1px solid black;
    }
  }

  .filters {
    background-color: #b6b6b6;
  }

  .exercices {
    padding: 20px;
    padding-top: 0;

    article {
      padding: 10px 20px;
    }

    > ul {
      display: flex;
      flex-direction: column;
      gap: 15px;

      list-style: none;
      font-size: 18px;

      > li {
        padding: 10px 20px;

        border-radius: 5px;
        background-color: #d1d1d1;

        .exercise_basic_informations {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .actions {
            display: flex;
            align-items: center;
            gap: 10px;

            button {
              padding: 5px;
              border-radius: 5px;
            }
          }
        }

        hr {
          margin: 10px 0;
        }

        .exercise_details {
          display: flex;
          gap: 25px;

          img {
            height: 250px;
            border-radius: 5px;
          }

          div {
            h4 {
              margin: 10px 0;
              font-size: 15px;

              &:last-of-type {
                margin-top: 20px;
              }
            }

            ul {
              display: flex;
              flex-wrap: wrap;
              gap: 10px;

              list-style: none;

              li {
                padding: 5px 10px;

                font-size: 16px;

                border-radius: 5px;
                background-color: #b6b6b6;
              }
            }
          }
        }
      }
    }

    .no_exercise_found {
      text-align: center;
      padding-top: 20px;
    }
  }
}

.delete_popup {
  h1 {
    font-size: 20px;
  }

  div {
    display: flex;
    justify-content: space-evenly;

    margin-top: 20px;

    button {
      padding: 5px 40px;

      font-size: 20px;

      border-radius: 50px;

      &:first-of-type {
        background-color: #dfdfdf;

        &:hover {
          color: #ffffff;
          background-color: red;
        }
      }

      &:last-of-type {
        background-color: #b6b6b6;

        &:hover {
          background-color: #a1a1a1;
        }
      }
    }
  }
}
