@use "../../../../../colors" as c;

.main_list {
  padding: 10px 50px;
  background-color: c.$main_light_color;
  border-radius: 0 0 5px 5px;

  > article,
  .exercices {
    margin: 10px 0;
    padding: 10px 20px;

    border-radius: 10px;

    color: c.$main_light_color;
    background-color: c.$main_global_color;
  }

  .search_bar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 20px;

    margin-top: 20px;

    label {
      font-size: 18px;
    }

    input {
      border: none;

      width: 100%;

      padding: 5px 10px;
      margin-bottom: 5px;

      border-radius: 5px;

      &:focus {
        outline: 2px solid c.$secondary_light_color;
      }
    }
  }

  .exercices {
    padding: 20px;
    padding-top: 0;

    article {
      padding: 10px 20px;
    }

    > ul {
      display: flex;
      flex-direction: column;
      gap: 15px;

      list-style: none;
      font-size: 18px;

      > li {
        padding: 10px 20px;

        border-radius: 5px;

        color: c.$main_global_color;
        background-color: c.$secondary_light_color;

        .exercise_basic_informations {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .actions {
            display: flex;
            align-items: center;
            gap: 10px;

            button {
              padding: 5px;

              border-radius: 5px;
              background-color: c.$main_light_color;

              &:hover {
                color: c.$main_light_color;
                background-color: rgba(c.$main_global_color, .5);

                &:last-of-type {
                  background-color: c.$main_accent_color;
                }
              }
            }
          }

          input {
            width: 70%;

            padding: 5px 10px;

            font-size: 18px;

            border: none;
            border-radius: 5px;
          }

          .invalid {
            outline: 2px solid #ff0000;
            background-color: #ffdcdc;
          }
        }

        hr {
          margin: 10px 0;
        }

        .exercise_details {
          display: flex;
          gap: 25px;

          img {
            max-width: 300px;
            height: 250px;

            object-fit: cover;
            object-position: 50%;

            border-radius: 5px;
          }

          div {
            width: 100%;

            h4 {
              margin: 10px 0;
              font-size: 15px;

              &:last-of-type {
                margin-top: 20px;
              }
            }

            .trackable_measures,
            .updated_measures {
              display: flex;
              flex-wrap: wrap;
              gap: 10px;

              list-style: none;

              li {
                padding: 5px 10px;

                font-size: 16px;

                border-radius: 5px;
                color: c.$main_light_color;
                background-color: c.$main_global_color;
              }
            }

            .update_measures_select {
              width: 60%;
              padding: 5px;
              border: none;
              border-radius: 5px;
            }

            .updated_measures {
              margin-top: 10px;

              li {
                display: flex;

                padding: 0;

                font-size: 14px;

                p {
                  margin: 5px 10px;
                }

                button {
                  padding: 5px 10px;
                  background-color: transparent;

                  &:hover {
                    cursor: pointer;
                  }
                }
              }
            }
          }

          input {
            max-width: 300px;
            height: fit-content;

            padding: 5px 10px;

            font-size: 16px;

            border: none;
            border-radius: 5px;
          }

          textarea {
            width: 100%;

            padding: 5px 10px;

            font-size: 16px;

            border: none;
            border-radius: 5px;
          }

          .confirm_update_button {
            display: flex;
            align-items: center;
            gap: 20px;

            margin-top: 20px;
            padding: 5px 25px;
            padding-right: 20px;

            font-size: 16px;

            border-radius: 5px;

            color: #ffffff;
            background-color: #008000;

            .icon {
              transform: translateY(2px);
            }

            &:hover {
              background-color: #0fa70f;
            }
          }
        }
      }
    }

    .no_exercise_found {
      text-align: center;
      padding-top: 20px;
    }
  }
}

.delete_popup {
  h1 {
    font-size: 20px;
  }

  div {
    display: flex;
    justify-content: center;
    gap: 40px;

    margin-top: 30px;

    button {
      padding: 5px 40px;

      font-size: 20px;

      border-radius: 50px;

      background-color: c.$secondary_light_color;

      &:first-of-type {
        &:hover {
          color: c.$main_light_color;
          background-color: c.$main_accent_color;
        }
      }

      &:last-of-type {
        &:hover {
          color: c.$main_light_color;
          background-color: c.$main_global_color;
        }
      }
    }
  }
}
