<button class="toggle_button" (click)="toggleForm()">Ajouter une mesure</button>

@if (displayForm) {
  <form>
    <div>
      <label for="measure_name">Nom :</label>
      <input type="text" name="measure_name" id="measure_name" [(ngModel)]="measureName" [ngClass]="nameIsInvalid ? 'invalid' : ''" (input)="nameIsInvalid = false" [maxLength]="50" />
    </div>

    <div>
      <label for="measure_unit">Unité de mesure :</label>
      <input type="text" name="measure_unit" id="measure_unit" [(ngModel)]="measureUnit" [maxLength]="10" />
    </div>

    <section>
      <button type="button" (click)="addMeasure()">Ajouter</button>
      <button type="button" (click)="cancel()">Annuler</button>
    </section>
  </form>
}
