.background,
.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.background {
  background-color: #00000052;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 50px;

  border-radius: 10px;
  background-color: #ffffff;
}
