.background,
.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.background {
  background-color: #00000052;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 80lvw;

  padding: 50px;

  border-radius: 10px;
  background-color: #ffffff;
}

@media (max-width: 600px) {
  .box {
    padding: 25px;
  }
}
