@use "../../../colors" as c;

main {
  min-height: 78.5lvh;

  padding: 20px 10lvw;

  background-color: c.$main_global_color;

  .title {
    display: flex;
    align-items: center;

    height: 200px;

    margin: 0 -10lvw;
    margin-top: -20px;
    padding: 0 10lvw;

    background-image: url("/img/Trainingsberatung_copyright_activfitness-3.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
      color: c.$main_light_color;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 60px;
      @include c.text_shadow;
    }
  }

  .tabs {
    margin-top: 20px;

    nav {
      ul {
        display: flex;
        justify-content: space-between;

        list-style: none;

        li {
          width: 33%;

          padding: 10px 20px;

          font-size: 20px;
          text-align: center;

          border-radius: 15px 15px 0 0;

          color: c.$main_light_color;
          background-color: c.$main_accent_color;
          box-shadow: inset 0 -1px 3px 0 rgba(0, 0, 0, 0.4);

          &:hover {
            cursor: pointer;
            background-color: c.$secondary_accent_color;
          }
        }

        .selected {
          font-weight: bold;
          color: c.$main_global_color;
          background-color: c.$main_light_color;
          box-shadow: none;

          &:hover {
            background-color: c.$main_accent_color;
          }
        }
      }
    }
  }
}
