<main>
  <h2>Administration</h2>

  <section>
    <nav>
      <ul>
        <li (click)="changeTab('exercises')">Exercices</li>
        <li (click)="changeTab('measures')">Mesures</li>
        <li (click)="changeTab('training_sessions')">Entraînements</li>
        <li (click)="changeTab('users')">Utilisateurs</li>
      </ul>
    </nav>

    @if (displayedTab === "exercises") {
      <app-add-exercise-form
      [availableMeasures]="measures"
      (onAddExercise)="createExercise($event)"
      ></app-add-exercise-form>

      <app-exercise-list
      [exercises]="exercises"
      [availableMeasures]="measures"
      (onDelete)="deleteExercise($event)"
      (onUpdate)="updateExercise($event)"
      ></app-exercise-list>
    }

    @if (displayedTab === "measures") {
      <app-add-measure-form (onAdd)="createMeasure($event)"></app-add-measure-form>
    }
  </section>
</main>
