<main>
  <section class="title">
    <h1>Administration</h1>
  </section>

  <section class="tabs">
    <nav>
      <ul>
        <li (click)="changeTab('exercises')" [className]="displayedTab === 'exercises' ? 'selected' : ''">Exercices</li>
        <li (click)="changeTab('measures')" [className]="displayedTab === 'measures' ? 'selected' : ''">Mesures</li>
        <li (click)="changeTab('users')" [className]="displayedTab === 'users' ? 'selected' : ''">Utilisateurs</li>
      </ul>
    </nav>

    @if (displayedTab === "exercises") {
      <app-add-exercise-form
      [availableMeasures]="measures"
      (onAddExercise)="createExercise($event)"
      ></app-add-exercise-form>

      <app-exercise-list
      [exercises]="exercises"
      [availableMeasures]="measures"
      (onDelete)="deleteExercise($event)"
      (onUpdate)="updateExercise($event)"
      ></app-exercise-list>
    }

    @if (displayedTab === "measures") {
      <app-add-measure-form (onAdd)="createMeasure($event)"></app-add-measure-form>
      <app-measures-list [measures]="measures" (onUpdate)="updateMeasure($event)" (onDelete)="deleteMeasure($event)"></app-measures-list>
    }
  </section>
</main>
