<main>
  <h2>Administration</h2>

  <section>
    <nav>
      <ul>
        <li>Exercices</li>
        <li>Mesures</li>
        <li>Entraînements</li>
        <li>Utilisateurs</li>
      </ul>
    </nav>

    <app-add-exercise-form
      [availableMeasures]="measures"
      (onAddExercise)="createExercise($event)"
    ></app-add-exercise-form>

    <app-exercise-list
      [exercises]="exercises"
      [availableMeasures]="measures"
      (onDelete)="deleteExercise($event)"
      (onUpdate)="updateExercise($event)"
    ></app-exercise-list>
  </section>
</main>
