main {
  margin: 0 10vw;

  .search_bar {
    margin: 20px 0;
    padding: 15px 30px;

    border-radius: 10px;
    background-color: #b6b6b6;

    input {
      appearance: none;
      border: none;

      width: 100%;

      margin-top: 10px;
      padding: 5px 10px;

      font-size: 20px;

      border-radius: 5px;

      &:focus {
        outline: 2px solid #8a8a8a;
      }
    }
  }

  .exercises_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    padding: 20px;

    border-radius: 10px;
    background-color: #dbdbdb;

    a {
      height: 200px;

      padding: 10px;

      color: #000000;
      text-decoration: none;

      border-radius: 5px;
      background-color: #747474;

      article {
        display: flex;
        flex-direction: column;
        gap: 10px;

        height: 100%;

        img {
          max-width: 100%;
          height: 80%;

          object-fit: contain;
          object-position: 50%;

          border-radius: 5px;
          background-color: #ffffff;
        }

        h2 {
          font-size: 1em;
          text-align: center;
        }
      }
    }
  }
}
