@use "../../../colors" as c;

main {
  min-height: 95lvh;

  padding: 20px 10lvw;

  background-color: c.$main_global_color;

  .title {
    display: flex;
    align-items: center;

    height: 200px;

    margin: 0 -10vw;
    margin-top: -20px;
    padding: 0 10vw;

    background-image: url("/img/ten-types-of-workouts.webp");
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 60px;
      color: c.$main_light_color;
      @include c.text_shadow;
    }
  }

  .search_bar {
    margin: 20px 0;
    padding: 15px 30px;

    border-radius: 10px;

    font-weight: bold;

    color: c.$main_global_color;
    background-color: c.$secondary_light_color;

    input {
      appearance: none;
      border: none;

      width: 100%;

      margin-top: 10px;
      padding: 5px 10px;

      font-size: 20px;

      border-radius: 5px;

      &:focus {
        outline: 2px solid c.$main_global_color;
      }
    }
  }

  .exercises_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;

    padding: 30px;

    border-radius: 10px;
    background-color: c.$secondary_light_color;

    a {
      height: 200px;

      padding: 10px;

      color: c.$main_light_color;
      text-decoration: none;

      border-radius: 5px;
      background-color: c.$main_global_color;

      transition: all .15s;

      article {
        display: flex;
        flex-direction: column;
        gap: 10px;

        height: 100%;

        img {
          max-width: 100%;
          height: 70%;

          object-fit: contain;
          object-position: 50%;

          border-radius: 5px;
          background-color: #ffffff;
        }

        h2 {
          font-size: 1em;
          text-align: center;
        }
      }

      &:hover {
        background-color: c.$main_accent_color;
      }
    }

    .no_result {
      grid-column-start: 1;
      grid-column-end: 5;
      text-align: center;
    }
  }
}

@media (max-width: 600px) {
  main {
    padding: 20px 5lvw;

    .exercises_list {
      grid-template-columns: 1fr 1fr;

      a {
        article {
          h2 {
            font-size: .9em;
          }
        }
      }
    }
  }
}
