@use "../../../colors" as c;

main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 79lvh;

  padding: 20px 5lvw;

  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    padding: 50px 7lvw;

    border-radius: 10px;

    color: c.$main_light_color;
    background-color: rgba(c.$main_global_color, .9);

    h1 {
      font-size: 30px;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      padding: 0 3lvw;

      label {
        width: 20%;
        font-size: 18px;
      }

      input {
        width: 80%;

        padding: 5px 10px;

        font-size: 18px;

        border: none;
        border-radius: 5px;
      }
    }

    .inscription_button {
      align-self: center;

      width: fit-content;

      padding: 5px 50px;

      font-size: 22px;

      border-radius: 50px;

      color: c.$main_light_color;
      background-color: c.$main_accent_color;

      &:hover {
        background-color: c.$secondary_accent_color;
      }
    }
  }

  .toggle_login_button {
    align-self: center;

    width: fit-content;

    margin-top: -25px;
    padding: 5px 20px;

    color: c.$main_light_color;
    background-color: transparent;

    &:hover {
      color: c.$secondary_accent_color;
      text-decoration: underline;
    }
  }
}

.signin {
  background-image: url("/img/exercices-musculation-dravel.webp");
}

.login {
  background-image: url("/img/Partners-homepage-1.webp");
}
