<main [className]="displayLogIn ? 'login' : 'signin'">
  @if (displayLogIn) {
    <section>
      <h1>Se connecter</h1>

      <div>
        <label for="email">Email :</label>
        <input type="email" name="email" id="email" [(ngModel)]="enteredEmail" (input)="clearErrors()" required>
      </div>
      <div>
        <label for="password">Mot de passe :</label>
        <input type="password" name="password" id="password" [(ngModel)]="enteredPassword" (input)="clearErrors()" required>
      </div>

      <div class="errors">
        @for (error of errors; track $index) {
          <p>{{ error }}</p>
        }
      </div>

      <button class="inscription_button" (click)="login()">Se connecter</button>
      <button class="toggle_login_button" (click)="toggleLogIn()">S'inscrire</button>
    </section>
  }
  @else {
    <section>
      <h1>Créer un compte</h1>

      <div>
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" name="username" id="username" [(ngModel)]="enteredUsername" (input)="clearErrors()" required>
      </div>
      <div>
        <label for="email">Email :</label>
        <input type="email" name="email" id="email" [(ngModel)]="enteredEmail" (input)="clearErrors()" required>
      </div>
      <div>
        <label for="password">Mot de passe :</label>
        <input type="password" name="password" id="password" [(ngModel)]="enteredPassword" (input)="clearErrors()" required>
      </div>

      <div class="errors">
        @for (error of errors; track $index) {
          <p>{{ error }}</p>
        }
      </div>

      <button class="inscription_button" (click)="register()">S'inscrire</button>
      <button class="toggle_login_button" (click)="toggleLogIn()">J'ai déjà un compte</button>
    </section>
  }
</main>
