$side_margin: 100px;
$top_margin: 20px;

.toggle_button {
  width: calc(100% - (2 * $side_margin));

  margin: $top_margin $side_margin;
  padding: 10px;

  font-size: 20px;

  border-radius: 10px;
  background-color: #dddddd;

  &:hover {
    cursor: pointer;
    background-color: #cccccc;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  margin: 0 calc($side_margin + 10px);
  padding: 20px;

  border-radius: 0 0 10px 10px;
  background-color: #ffffff;

  transform: translateY(-$top_margin);

  $label_width: 120px;

  div {
    display: flex;
    align-items: center;
    width: 50%;

    label {
      display: inline-block;

      width: $label_width;

      &:hover {
        cursor: pointer;
      }
    }

    label:has(+textarea) {
      align-self: flex-start;
    }

    input,
    textarea,
    select {
      width: calc(100% - $label_width);
      padding: 10px;
    }

    input,
    textarea {
      border-radius: 5px;
      border: 1px solid black;
    }
  }

  .selected_measures_list {
    padding-left: $label_width;

    ul {
      display: flex;
      gap: 10px;

      list-style: none;

      li {
        display: flex;
        align-items: center;
        gap: 20px;

        padding-left: 20px;
        padding-right: 10px;

        font-size: 12px;

        border-radius: 3px;
        background-color: #d4d4d4;

        button {
          padding: 5px 10px;
          background-color: transparent;
        }
      }
    }
  }

  section {
    display: flex;
    gap: 10px;

    width: 50%;

    margin-top: 10px;

    button {
      padding: 10px;

      font-size: 17px;

      border-radius: 5px;

      &:first-of-type {
        width: 70%;
        background-color: #7e7e7e;

        &:hover {
          background-color: #636363;
        }
      }

      &:last-of-type {
        width: 30%;
        background-color: #a7a7a7;

        &:hover {
          background-color: #969696;
        }
      }
    }
  }
}
