@use "../../../../../colors" as c;

$side_margin: 50px;
$top_margin: 20px;

section {
  background-color: c.$main_light_color;

  .toggle_button {
    width: calc(100% - (2 * $side_margin));

    margin: $top_margin $side_margin;
    padding: 10px;

    font-size: 20px;

    border-radius: 10px;

    color: c.$main_light_color;
    background-color: c.$main_global_color;

    &:hover {
      cursor: pointer;
      background-color: c.$secondary_global_color;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    margin: 0 calc($side_margin + 10px);
    padding: 20px;

    border-radius: 0 0 10px 10px;
    background-color: #ffffff;

    transform: translateY(-$top_margin);

    $label_width: 120px;

    div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 70%;

      label {
        display: inline-block;

        width: $label_width;

        &:hover {
          cursor: pointer;
        }
      }

      label:has(+textarea) {
        align-self: flex-start;
      }

      input,
      textarea,
      select {
        width: calc(100% - $label_width);
        padding: 10px;
      }

      input,
      textarea {
        border-radius: 5px;
        border: 1px solid black;
      }

      select {
        border-radius: 5px;
      }

      .invalid {
        border-color: #ff0000;
        outline: 2px solid #ff0000;
        background-color: #ffdada;
      }

      &:has(input.invalid)::after {
        position: relative;
        top: 2px;
        left: $label_width + 5px;

        width: 50%;

        padding: 3px 15px;

        content: "Le nom est requis pour ajouter un exercice.";
        font-size: 14px;

        border-radius: 0 0 5px 5px;
        background-color: #ffc7c7;
      }
    }

    .selected_measures_list {
      padding-left: $label_width;

      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        list-style: none;

        li {
          display: flex;
          align-items: center;
          gap: 20px;

          padding-left: 20px;
          padding-right: 10px;

          font-size: 12px;

          border-radius: 3px;

          color: c.$main_light_color;
          background-color: rgba(c.$main_global_color, .5);

          button {
            padding: 5px;
            color: c.$main_light_color;
            background-color: transparent;
          }
        }
      }
    }

    section {
      display: flex;
      gap: 10px;

      width: 50%;

      margin-top: 10px;

      button {
        padding: 10px;

        font-size: 17px;

        border-radius: 5px;

        &:first-of-type {
          width: 70%;

          color: c.$main_light_color;
          background-color: c.$main_global_color;

          &:hover {
            background-color: c.$secondary_global_color;
          }
        }

        &:last-of-type {
          width: 30%;
          background-color: c.$secondary_light_color;

          &:hover {
            background-color: rgba(c.$main_global_color, .3);
          }
        }
      }
    }
  }
}
