@use "../../../../../colors" as c;

section {
  padding: 0 50px;
  padding-bottom: 20px;

  border-radius: 0 0 5px 5px;
  background-color: c.$main_light_color;

  ul {
    display: flex;
    flex-direction: column;
    gap: 15px;

    list-style: none;
    font-size: 18px;

    li {
      display: flex;
      justify-content: space-between;

      width: 100%;

      padding: 10px 20px;

      border-radius: 5px;

      color: c.$main_global_color;
      background-color: c.$secondary_light_color;

      div {
        display: flex;
        gap: 10px;

        p:first-of-type,
        input:first-of-type {
          width: 300px;
        }

        input {
          padding: 5px 10px;

          font-size: 18px;

          border: none;
          border-radius: 5px;
        }
      }

      &:first-of-type {
        margin-top: 20px;
        padding: 0 20px;

        background-color: transparent;
      }

      .actions {
        button {
          padding: 5px;

          border-radius: 5px;
          background-color: c.$main_light_color;

          &:hover {
            color: c.$main_light_color;
            background-color: rgba(c.$main_global_color, .5);
          }
        }

        .confirm_update {
          color: #ffffff;
          background-color: #008000;

          &:hover {
            background-color: #0fa70f;
          }
        }
      }
    }
  }
}
