@use "../../../../../colors" as c;

section {
  padding: 0 50px;
  padding-bottom: 20px;

  border-radius: 0 0 5px 5px;
  background-color: c.$main_light_color;

  ul {
    display: flex;
    flex-direction: column;
    gap: 15px;

    list-style: none;
    font-size: 18px;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 100%;

      padding: 10px 20px;

      border-radius: 5px;

      color: c.$main_global_color;
      background-color: c.$secondary_light_color;

      div {
        display: flex;
        gap: 10px;

        p:first-of-type,
        input:first-of-type {
          width: 300px;
        }

        input {
          padding: 5px 10px;

          font-size: 18px;

          border: none;
          border-radius: 5px;
        }
      }

      &:first-of-type {
        margin-top: 20px;
        padding: 0 20px;

        background-color: transparent;
      }

      .actions {
        button {
          padding: 5px;

          border-radius: 5px;
          background-color: c.$main_light_color;

          &:hover {
            color: c.$main_light_color;
            background-color: rgba(c.$main_global_color, .5);
          }

          &:last-of-type:hover {
            color: c.$main_light_color;
            background-color: c.$main_accent_color;
          }
        }

        .confirm_update {
          color: #ffffff;
          background-color: #008000;

          &:hover {
            background-color: #0fa70f;
          }
        }
      }
    }
  }
}
.delete_popup {
  h2 {
    font-size: 20px;
  }

  div {
    display: flex;
    justify-content: center;
    gap: 40px;

    margin-top: 30px;

    button {
      padding: 5px 40px;

      font-size: 20px;

      border-radius: 50px;

      background-color: c.$secondary_light_color;

      &:first-of-type {
        &:hover {
          color: c.$main_light_color;
          background-color: c.$main_accent_color;
        }
      }

      &:last-of-type {
        &:hover {
          color: c.$main_light_color;
          background-color: c.$main_global_color;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  section {
    padding: 20px 5lvw;

    ul {
      li {
        div {
          p,
          input {
            font-size: 14px;

            &:first-of-type {
              width: 90px;
            }

            &:last-of-type {
              width: 110px;
            }
          }
        }

        p,
        input {
          font-size: 14px;
          width: 110px;
        }

        > p {
          width: auto;
        }
      }
    }
  }

  .delete_popup {
    width: 100%;

    h2 {
      font-size: 18px;
    }

    div {
      flex-direction: column;
      gap: 10px;

      button {
        &:first-of-type {
          color: c.$main_light_color;
          background-color: c.$main_accent_color;
        }
      }
    }
  }
}
