@if (measureToDeleteName !== "") {
  <app-popup (onClose)="cancelDelete()">
    <div class="delete_popup">
      <h2>Êtes-vous sûr·e de vouloir supprimer la mesure "{{ measureToDeleteName }}" ?</h2>

      <div class="actions">
        <button (click)="confirmDelete()">Supprimer</button>
        <button (click)="cancelDelete()">Annuler</button>
      </div>
    </div>
  </app-popup>
}

<section>
  <h2>Liste des mesures</h2>

  @if (measures.length === 0) {
    <p>Aucune mesure.</p>
  }
  @else {
    <ul>
      <li>
        <div>
          <p>Nom</p>
          <p>Unité de mesure</p>
        </div>

        <p>Actions</p>
      </li>

      @for (measure of measures; track $index) {
        <li>
          <div>
            @if (measureToUpdateId === measure.id) {
              <input type="text" [(ngModel)]="measureToUpdateName" [maxlength]="50" />
              <input type="text" [(ngModel)]="measureToUpdateUnit" [maxlength]="10" />
            }
            @else {
              <p>{{ measure.measure_name }}</p>
              <p>{{ measure.unit }}</p>
            }
          </div>

          <div class="actions">
            @if (measureToUpdateId === measure.id) {
              <button class="confirm_update" (click)="confirmUpdate()">
                <lucide-icon name="check" [size]="18" [strokeWidth]="3"></lucide-icon>
              </button>
            }
            @else {
              <button (click)="toggleUpdate(measure.id)">
                <lucide-icon name="pencil" [size]="18"></lucide-icon>
              </button>
            }
            <button (click)="toggleDelete(measure.id, measure.measure_name)">
              <lucide-icon name="trash-2" [size]="18"></lucide-icon>
            </button>
          </div>
        </li>
      }
    </ul>
  }
</section>
