<main>
  <section class="landing_image">
    <div>
      <h1>Débloquez votre potentiel dès maintenant</h1>
      <button>
        <a href="/login">Je m'inscris</a>
      </button>
    </div>
  </section>

  <section class="presentation">
    <article>
      <h2>Optimisez votre entraînement</h2>
      <p>Avec FitnessApp, gardez un historique de vos entraînements, trackez vos progrès et visualisez facilement vos performances avec notre feature de datavisualisation.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias, porro. Distinctio commodi beatae corrupti culpa fugit eaque laudantium animi enim nihil sed temporibus exercitationem magni, reiciendis obcaecati dolor harum. Reiciendis.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet molestiae laboriosam neque, modi autem aperiam est doloremque et rem saepe nobis voluptate voluptatem nostrum sint quibusdam. Assumenda obcaecati rerum et minima est incidunt itaque? Amet, incidunt, unde quod dignissimos fugit assumenda consectetur error deserunt, ex quia cum eligendi placeat voluptatum?</p>
    </article>
    <div class="presentation_image"></div>
  </section>

  <section class="cards">
    <article>
      <h3>Datavisualisation</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis dolorum, rerum saepe facere modi, hic exercitationem voluptate nihil adipisci sapiente, beatae quis eaque officia nobis maxime odit repellat. Nobis, tempore.</p>
    </article>
    <article>
      <h3>Datavisualisation</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis dolorum, rerum saepe facere modi, hic exercitationem voluptate nihil adipisci sapiente, beatae quis eaque officia nobis maxime odit repellat. Nobis, tempore lorem ipsum dolor sit amet consectetur.</p>
    </article>
    <article>
      <h3>Datavisualisation</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis dolorum, rerum saepe facere modi, beatae quis eaque officia nobis maxime odit repellat. Nobis, tempore.</p>
    </article>
  </section>

  <section class="cta">
    <h2>Prenez votre entraînement en main: rejoignez-nous!</h2>

    <article>
      <button>
        <a href="/login">Inscrivez-vous</a>
      </button>
      <button>Suivez-nous sur les réseaux!</button>
    </article>
  </section>
</main>
