html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: inherit;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
  appearance: none;
  border: none;

  &:hover {
    cursor: pointer;
  }
}
